.DS_Store
About Datayar.md
Datayar roadmap.pptx
تحلیل داده - Data Analysis /.DS_Store
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/.DS_Store
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس اول-بصری‌سازی داده‌ها .pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس دهم - مقایسه توزیع ها .pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس دوم- مشاهده روابط .pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس سوم تجزیه و تحلیل متغیرهای پیوسته.pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس ششم - فیلتر کردن داده ها.pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس نهم - کاوش روابط.pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس هشتم - تبدیل داده .pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس هفتم - جمع و گروه بندی داده ها.pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس پنجم انجام مقایسه.pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس چهارم -استفاده از صدک ها.pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/درس یازدهم - تجزیه و تحلیل سری های زمانی .pptx
تحلیل داده - Data Analysis /فصل اول - Exploring Data Visually/مقدمه.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /.DS_Store
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس اول - تخمین احتمالات.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس دهم - ایجاد مدل.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس دوازدهم-جمع بندی فصل .pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس دوم - گذشته و آینده.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس سوم - تغییر سرنوشت.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس ششم - احتمال شرطی.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس نهم - وابستگی  و استقلال.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس هشتم- به روزرسانی پیش بینی ها.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس هفتم - قانون احتمال کل.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس پنجم - ترکیب احتمالات.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس چهارم - رویدادهای ناسازگار.pptx
تحلیل داده - Data Analysis /فصل دوم  - Introduction of Probability /درس یازدهم - تنظیم مدل.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /.DS_Store
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /تحلیل داده های اسپاتیفای - خلاصه فصل ۳.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس اول - مقابله با عدم قطعیت.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس دوم- از داده ها تا احتمالات.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس سوم - تجسم احتمالات.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس ششم - قضیه بیز .pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس هشتم - مقایسه توزیع ها.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس هفتم - احتمال تجمعی.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس پنجم  -احتمالات مشترک.pptx
تحلیل داده - Data Analysis /فصل سوم  -Predicting with  Probability /درس چهارم - احتمالات با شرایط.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/.DS_Store
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس اول- همبستکی.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس دوازدهم- انتخاب متغیر در رگرسیون.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس دوم- حدهای همبستگی.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس سوم- رگرسیون خطی.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس سیزدهم -بیش برازش .pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس ششم- روابط غیر خطی.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس نهم - ضرایب در رگرسیون چند متغیره.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس هشتم-رگرسیون چند متغیره.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس هفتم - پارادوکس سیمپسون.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس پنجم- رگرسیون و پیش بینی .pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس چهاردهم - تفسیر مدل .pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس چهارم - محاسبه خطا.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس یازدهم - ارزیابی مدل رگرسیونی.pptx
تحلیل داده - Data Analysis /فصل چهارم - Regression Models/درس یازدهم - ارزیابی مدل رگرسیونی.pptx

